.git
.gitignore
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
*.log
.DS_Store
.idea
.vscode
README.md
docker-compose*.yml
